html {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

#registPage {
	width: 100%;
	height: 100%;
	position: absolute;
}

#Regist {
	background-color: white;
	width: 50%;
	max-width: 330px;
	max-height: 800px;
	height: 90%;
	opacity: 0.8;
	align-content: center;
	position: relative;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
}

#slogan{
    font-family: 'Croissant One' , cursive;
    font-size: 15px;
    word-break: break-all;
    line-height: 15px;
}

h1 {
	text-align: center;
    padding-top: 100px;
    font-family: 'Alice', cursive;

    font-size: 60px;
}

#inputGroup {
	margin-left: 5%;
	margin-top: 50px;
	max-width: 350px;
	width: 90%;
}

#loginButton {
	max-width: 300px;
	width: 90%;
}

#fb-icon {
	margin-left: 16px;
	color: rgb(59, 89, 153);
}

#twitter-icon {
	color: rgb(29, 161, 243);
}

#wechat-icon{
	color: rgb(0,173,25);
}
#weibo-icon {
	background-image: url("../img/weibo-icon.png");
	width: 5px;
	height: 5px;
}


#input-form{
	margin-bottom: 20px;
}


a:hover{text-decoration: none;}
#iconSet{
	margin-top: 10%;
}

#authorMessage{
	text-align: center;
	height: 30px;
}

#registPart{
	margin-top: 30px;
}
